.algn-txt{
    display: flex;
    background: #edf2fa;
    justify-content: center;
    flex-direction: column;
    padding-top: 70px;
    padding-bottom: 75px;
}

.hm-ld-txt {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.hm-font-header {
    font-family: Nunito;
    font-weight: 700;
    font-size: 50px;
    
}

.hm-font-desc {
    font-family: Nunito;
    font-size: 15px;
}

.hm-shop-clr {
    color: blue;
}

.hm-bg {
width: 574px;
height: auto;

}