.hm-bg-div {
    background: #edf2fa;
    padding-bottom: 15px;
}

.hm-d-flk {
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
}

.algn-txt{
    display: flex;
    background: #edf2fa;
    justify-content: center;
    flex-direction: column;
    padding-top: 70px;
    padding-bottom: 65px;
}

.hm-ld-txt {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.hm-font-header {
    font-family: Montserrat;
    font-weight: 800;
    font-size: 50px;
    
}

.hm-font-desc {
    font-family: Montserrat;
    font-size: 15px;
}

.hm-shop-clr {
    color: #0300AD;
}

.hm-bg {
    display: flex;
    width: 574px;
    height: auto;
}

.hm-display {
    display: flex;
    justify-content: center;
    width: 100%;
}

.hm-cr{
    display: flex;
    justify-content: center;
    border-radius: 10px;
    color: blue;
    margin-top: 100px;
    margin-bottom: 50px;
}

.hm-cr-title {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 7px;
    width: auto;
    height: 29px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;

    /* identical to box height, or 29px */
    text-align: center;
    letter-spacing: 0.03em;

    color: #0300AD;
}

.cardParent {
    display: flex;
    margin-top: 60px;
}

.text3 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    line-height: 140%;

    /* or 84px */
    text-align: center;
    letter-spacing: 0.03em;

    color: #333333;
}

.imgParent {
    border-radius: 100%;
    background: #dddcdc;
    width: 100px;
    height: 100px;
    padding: 25px 25px 25px 25px;
}

.img-size {
    width: 50px;
    height: 50px;
}

.hmCardStyle{
    width: 386px;
    height: 300px;
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 18px;
    background: white;
    box-shadow: 5px 4px 50px rgba(3, 0, 173, 0.2);
    border-radius: 20px;
    margin-left: 20px;
    padding: 20px 20px 20px 20px;
}

.hmCardStyle:hover {
    background:#0300AD;
    transform: scale(1.1);
    transition-duration: 1.5s;
    color: white;
    
}

.hm-title-display {
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
   flex-direction: column;
   
}

.img {
    width: 30px;
    height: 30px;
 
}

.imgParent {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    padding: 25px 25px 25px 25px;
    margin-bottom: 30px;
}

.hm-card-title {
    font-family: Montserrat;
    font-weight: bold;
}

.hm-pg-title {
    font-family: Montserrat;
    font-weight: bold;
}


.hm-card-subtitle {
    font-family: Montserrat;
    font-size: small;
   
}

.hm-search-size {
    width: 25px;
    height: 25px;
}

.hm-pd-search {
    margin-bottom: 50px;
}

.scroll-container {
   overflow: auto;
    scroll-snap-type: y mandatory;
}

.scroll-area {
    scroll-snap-align: start;
    scroll-snap-stop:always;
}

.hm-clr-btn {
    background: #0300AD;
    --bs-btn-border-color: #0300AD;
}

.gSOTDD {
    justify-content: space-between;
}