.shadow-test {
    box-shadow: 5px 4px 50px rgba(3, 0, 173, 0.2);
    border-radius: 20px;
}

.ds-title {
    font-family: Nunito;
    font-weight: bold;
    margin-bottom: 2rem;
}

.ds-card {
    box-shadow: 5px 4px 50px rgba(3, 0, 173, 0.2);
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.ds-row-prop {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap
    
}

.ds-img {
    width: 80px;
    height: 80px;
 
}

.ds-imgParent {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border-radius: 100%;
    width: 150px;
    height: 150px;
    padding: 25px 25px 25px 25px;
    margin-bottom: 30px;
    background-color: #ebe7e7;
}

.ds-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ds-clr-btn {
    background: #0300AD;
    --bs-btn-border-color: #0300AD;
    height: 50px;
    width: 200px;
}

.ds-logo {
    display: flex;
    justify-content: center;
}