.nav-auth-margin {
    margin-bottom: 50px;
}

.dropdown-toggle::before {
    display: none !important;
}

.nav-dropdown-user {
    text-align: center;
    pointer-events: none;
    background-color: #edf2fa;
    margin-top: -6px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: Nunito;
    font-weight: bold;
    
}

.nav-img-size {
    width: 50px;
    height: 50px;
}

.nav-img-size:hover {
    transform: scale(1.1);
}

.imgNav {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    box-shadow: 5px 4px 5px rgba(1, 1, 34, 0.2);
}

