
.prod-dspl {
    display: flex;
    justify-content: center;
    width: 1030px;
    
}

.prod-search input{
    border-radius: 15px;
    height: 60px;
    box-shadow: 5px 4px 50px rgba(3, 0, 173, 0.2);
}

.prod-search button {
    border-radius: 15px;
    height: 60px;
    width: 80px;
    background-color: #0300AD;
    box-shadow: 5px 4px 50px rgba(3, 0, 173, 0.2);
}

.prod-search-size {
    width: 30px;
    height: 30px;
}

.prod-btn-size {
    width: 30px;
    height: 30px;
}


.prod-btn-nav button {
    border-radius: 15px;
    height: 60px;
    width: 80px;
    margin-left: 30px;
    background-color: white;
    box-shadow: 5px 4px 50px rgba(3, 0, 173, 0.2);
}

.prod-category {
    margin-left: 55px;
}
