.detail-card2-line1 {
  display: flex;
  justify-content: center;
}

.detail-card-prop {
  border-radius: 20px;
  justify-content: center;
  padding: 30px;
  box-shadow: 5px 4px 50px rgba(3, 0, 173, 0.2);
}

.detail-card2-line2 {
  display: flex;
  justify-content: flex-end;
  font-family: Nunito;
}

.detail-card2-lineii {
  display: flex;
  justify-content: flex-start;
  font-family: Nunito;
}

.detail-card2-line3 {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.dtl-width {
  width: 640px;
}

.btn-dtl {
  background: #0300ad;
  height: auto;
  width: 160px;
  border-radius: 20px;
}

.card-inside-review {
  border-radius: 20px;
  box-shadow: 5px 4px 10px rgba(3, 0, 173, 0.2);
}

.detail-review-prop {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.detail-review-btn {
  display: flex;
  justify-content: flex-end;
}

.detail-font-prop {
  font-family: Nunito;
  font-weight: bold;
}

.detail-price {
  font-family: Nunito;
  font-weight: bold;
  font-size: x-large;
}

.detail-nunito {
  font-family: Nunito;
}

.detil-image-kecil {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.detail-container-imagekecil {
  display: flex;
  justify-content: space-around;
}

.customstyle {
  overflow: hidden;
  padding: 0px;
}


.detail-counter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.wrapper {
    height: 40px;
    min-width: 80px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid #0300AD;
    background: rgb(252, 251, 251);
}

.wrapper span {
    width: 120%;
    font-family: Nunito;
    font-weight: bold;
    font-size: small;
    text-align: center;
}

.dtl-btn-count {
    font-family: Nunito;
    font-weight: bold;
    color: #0300AD;

}

