.input_search {
    background: #ffffff;
    box-shadow: 0px 0px 60px rgba(45, 45, 45, 0.1);
    border-radius: 20px;
    padding: 30px;
}

.btn_search {
    background: #0300ad;
    border-radius: 0px 20px 20px 0px !important;
    padding: 30px;
    border: 0;
}

.btn_w {
    padding: 30px;
    background: #ffffff;
    box-shadow: 0px 0px 60px rgba(45, 45, 45, 0.1);
    border-radius: 20px;
    border: 0;
}

.btn_w:hover {
    background: #ffffff;
}
