.check {
    height: 40px;
    width: 40px;
}

.form-check-input {
    width: 40px;
    height: 40px;
    margin-top: 0.25em;
    vertical-align: top;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 2px solid #0300AD;
    appearance: none;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
}

.form-check-input[type=checkbox] {
    border-radius: 10px;
}

.form-check-input:checked {
    background-color: #0300AD;
    border-color: #0300AD;
}